* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

h1 {
  color: #58402c;
  font-size: 50px;
  font-weight: 200;
}

h2 {
  color: #58402c;
  font-size: 20px;
  font-weight: 200;
}

h3 {
  color: #58402c;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

h4 {
  color: #58402c;
  font-size: 15px;
  font-weight: 200;
}

.flex_cont {
  display: flex;
}

.container {
  width: 100%;
  height: 1000px;
}

.btn {
  border-radius: 5px;
  border: 1px solid #30488f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn h3 {
  font-size: 15px;
  font-weight: 200;
}

.btn img {
  width: 15%;
  height: 60%;
  margin: 5px;
}

.nav {
  height: 70px;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid grey;
}

.nav .nav_left {
  float: left;
  width: 20%;
  height: 100%;
}

.nav .nav_left img {
  width: 100px;
  margin-top: 25px;
}

.nav .nav_right {
  float: right;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  padding-left: 90px;
}

.nav .n_elem {
  margin: 25px 20px;
}

.nav .n_elem h3 {
  color: #58402c;
  font-size: 15px;
  font-weight: 200;
}

.nav .n_elem i {
  color: #58402c;
  margin: 2px 4px;
}

.nav .n_elem:hover i {
  color: #30488f;
}

.nav .n_elem:hover h3 {
  color: #30488f;
}

.nav .n_btn {
  width: 110px;
  height: 40px;
  margin: 15px;
}

.nav .n_btn h3 {
  color: #30488f;
}

.nav .n_btn:hover {
  transition: 1s;
  background: #30488f;
}

.nav .n_btn:hover h3 {
  color: white;
}

.nav_scroll {
  width: 100%;
  position: fixed;
  background: white;
  padding: 0 20%;
  z-index: 9999;
}

#solutions {
  position: relative;
}

.nascosto {
  display: none;
}

.slide {
  position: absolute;
  top: 20px;
  left: -10px;
  width: 100px;
  height: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgrey;
  z-index: 9999;
}

.slide h4 {
  margin: 15px;
  text-align: center;
}

.slide h4:hover {
  color: #30488f;
}

.main_i {
  width: 60%;
  margin: auto;
  height: auto;
  display: flex;
  padding-top: 80px;
}

.main_i .main_i_left {
  width: 50%;
  height: 100%;
}

.main_i .main_i_left h1,
.main_i .main_i_left h2,
.main_i .main_i_left h4 {
  margin: 20px;
}

.main_i .main_i_left h1 i,
.main_i .main_i_left h2 i,
.main_i .main_i_left h4 i {
  margin: 5px;
}

.main_i .main_i_right {
  width: 50%;
  height: 100%;
}

.main_i .main_i_right img {
  max-width: 95%;
  margin-left: 10%;
}

.main_i .main_i_btn_cont {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_i .main_i_btn_cont .main_i_btn {
  width: 200px;
  background: #30488f;
  margin: 0 20px;
}

.main_i .main_i_btn_cont .main_i_btn:hover {
  background: #1d2b56;
  transition: 1s;
}

.main_i .main_i_btn_cont .main_i_btn h3 {
  color: white;
}

.main_ii {
  width: 100%;
  height: auto;
  background: #ffe7d2;
  padding-bottom: 50px;
}

.main_ii .main_ii_wrapped {
  width: 60%;
  height: 100%;
  margin: auto;
  padding: 50px 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_ii .main_ii_wrapped h2 {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.main_ii .m_ii_cont {
  width: 70%;
  height: auto;
  margin: 50px 0;
  display: flex;
  margin: auto;
  padding-bottom: 50px;
}

.main_ii .m_ii_cont .m_ii_cont_elem {
  width: 20%;
  height: 250px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main_ii .m_ii_cont .m_ii_cont_elem img {
  max-width: 70%;
}

.main_ii .m_ii_bottom {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.main_ii .m_ii_bottom img {
  max-width: 100%;
}

