.main_iii {
  width: 100%;
  height: auto;
  display: flex;
  %m_iii {
    width: 80%;
    height: 100%;
  }
  //con % ho creato una classe fittizia che non viene nemmeno inserita nel css(per non appesantirlo)
  //poi la aggiungo dove voglio.
  //in alternativa potevo usare un mixin. Alla fine sia extend con % che include con mixin sono come variabili contenenti proprieta.
  //[in realta mixin piu che una variabile e' una funzione]
  .m_iii_left {
    @extend %m_iii;
    padding: 3%;
    padding-left: 8%;
    img {
      max-width: 90%;
    }
  }
  .m_iii_right {
    @extend %m_iii;
    img {
      max-width: 50%;
      width: 280px;
      height: 200px;
      margin-top: 20px;
    }
    h2 {
      font-size: 30px;
      width: 450px;
      margin-top: 100px;
    }
    h4 {
      font-size: 18px;
      width: 450px;
      margin-top: 30px;
    }
    h5 {
      margin-top: 30px;
      font-size: 20px;
      color: $btn_color;
      i {
        margin-left: 20px;
        color: $btn_color;
      }
    }
  }
}
