.nav {
  height: 70px;
  width: 60%;
  margin: auto;
  border-bottom: 1px solid grey;
  .nav_left {
    float: left;
    width: 20%;
    height: 100%;
    img {
      width: 100px;
      margin-top: 25px;
    }
  }
  .nav_right {
    float: right;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-left: 90px;
  }
  .n_elem {
    margin: 25px 20px;
    h3 {
      color: $text_primary;
      font-size: 15px;
      font-weight: 200;
    }
    i {
      color: $text_primary;
      margin: 2px 4px;
    }
    &:hover {
      i {
        color: $btn_color;
      }
      h3 {
        color: $btn_color;
      }
    }
  }
  .n_btn {
    width: 110px;
    height: 40px;
    margin: 15px;
    padding-right: 15px;
    h3 {
      color: $btn_color;
    }
    &:hover {
      transition: 1s;
      background: $btn_color;
      h3 {
        color: white;
      }
    }
  }
}
//jquery scroll
.nav_scroll {
  width: 100%;
  position: fixed;
  background: white;
  padding: 0 20%;
  z-index: 9999;
}
//jquery slide menu
#solutions {
  position: relative;
}
.nascosto {
  display: none;
}
.slide {
  position: absolute;
  top: 20px;
  left: -10px;
  width: 100px;
  height: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgrey;
  z-index: 9999;
  h4 {
    margin: 15px;
    text-align: center;
    &:hover {
      color: $btn_color;
    }
  }
}
