.main_ii {
  width: 100%;
  height: auto;
  background: $bkgr_primary;
  padding-bottom: 50px;
  .main_ii_wrapped {
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 50px 12%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h2 {
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }
  }
  .m_ii_cont {
    width: 70%;
    height: auto;
    margin: 50px 0;
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    .m_ii_cont_elem {
      width: 20%;
      height: 250px;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      img {
        max-width: 70%;
      }
    }
  }
  .m_ii_bottom {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}
